footer.footer
    .container
        .row.footer-all
            .col-sm-6.col-md-4.footer-all__main
                .logo
                    img(src="img/logo.png", alt="")
                .desc Delivering the best coffee life since 1996. From coffee geeks to the real ones.
                .copy CoffeeStyle Inc. © 1996
            .col-6.col-sm-6.col-md-2.footer-all__menu
                .title Menu
                .nav
                    ul
                        li
                            a(href="#") Home
                        li
                            a(href="#") Our Products
                        li
                            a(href="#") About
                        li
                            a(href="#") Contact
                        li
                            a(href="#") Styleguide
            .col-6.col-sm-6.col-md-2.footer-all__follow
                .title Follow us
                .nav
                    ul
                        li
                            a(href="#") Facebook
                        li
                            a(href="#") Instagram
                        li
                            a(href="#") Pinterest
                        li
                            a(href="#") Twitter
            .col-sm-6.col-md-4.footer-all__contact
                .title Contact Us
                .text We’re Always Happy to Help
                .email
                    a(href="mailto: us@coffeestyle.io") us@coffeestyle.io
                .powered Powered by Webflow